<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>List of Courses for Category:   </h2>
        <ol>
            {% for key, values in context.items %}
{#                <tr>#}
                <h2>{{key}}</h2>
                <ul>
                    {% for i in values %}
                        <li>{{ i }}</li>
                    {% endfor %}
                </ul>

{#                {% for v in values.items %}#}
{#                    <p>{{v}}</p>#}
{#                    {% for x in v.items %}#}
{#                        <p>{{x}}</p>#}
{##}
{#                    {% endfor %}#}
{#                {% endfor %}#}
{#                </tr>#}
            {% endfor %}
        </ol>
        <p><a href={% url 'myappF23:index' %}>Back to home</a></p>

{#    {% for course in course_list %}#}
{#        <li>{{ course}}</li>#}
{#    {% endfor %}#}
</body>
</html>